.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 150px 0;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  border-radius: 6px;
}

.skills {
  text-align: center;
}

.skills-title {
  font-size: 35px;
  color: #845ec2;
}

.box-img {
  width: 100px;
  height: 100px;
}
